<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Carolyn's Portfolio</title>
  <link rel="stylesheet" href="../assets/css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap"
    rel="stylesheet" />
</head>

<!--Navigation Section-->

<body class="default">
  <header>
    <div class="topnav">
      <a href="../index.html" target="_blank">
        <li>Home Page</li>
      </a>
    </div>
  </header>

  <!--Header of Site-->
  <!--Introduction Section-->

  <body>
    <section class="projectHtmlSection2">
      <div class="main-container">
        <h2 class="heading heading-sec heading-sec__mb-med">
          <span class="projectHtmlSub">
            This application serves as a practical demonstration and an opportunity for skill enhancement in the realm of progressive web applications (PWAs). Its primary aim is to provide a deeper insight into the inner workings of the React JavaScript library. Four main concepts are central to this application. First, it involves configuring the webpack.config.js file, incorporating essential Workbox plugins for service worker and manifest files, and implementing CSS and Babel loaders to ensure compatibility with older devices running on legacy code (e.g., ES5). Second, asset caching is employed within the src-sw.js file, enabling offline functionality. Third, the application involves configuring the database, facilitating the addition, updating, and retrieval of data from IndexedDB. Fourth, it incorporates event handlers for the install button, enabling users to install the application into their personal app stack for offline use.

While this application relies on a boilerplate code structure, its development has significantly enhanced understanding of libraries and frameworks like React, Angular, and Vue. While there are no immediate plans for further development, this application can serve as a valuable benchmark and boilerplate codebase for the creation of future progressive web applications.
          </span>
        </h2>

        <!--Screenshots-->
        <div class="image-container">
          <img src="../assets/images/TextEditor1.png" alt="Text Editor 1" class="projectPageImg" loading="lazy" />
        </div>
        <div class="image-container">
          <img src="../assets/images/TextEditor2.png" alt="Text Editor 2" class="projectPageImg" loading="lazy" />
        </div>
    </section>

    <!--Footer Section-->
    <footer class="main-footer">
      <div class="main-container">
        <div class="main-footer__upper">
          <div class="main-footer__row main-footer__row-1">
            <h2 class="heading heading-sm main-footer__heading-sm">
              <span>Contacts</span>
            </h2>
            <div class="main-footer__social-cont">
              <a target="_blank" rel="noreferrer" href="#">
                <img class="main-footer__icon" src="../assets/icons/linkedin-ico.png" alt="icon" />
              </a>
              <a target="_blank" rel="noreferrer" href="#">
                <img class="main-footer__icon" src="../assets/icons/github-ico.png" alt="icon" />
              </a>
              </a>
              </a>
            </div>
          </div>
          <div class="main-footer__row main-footer__row-2">
            <h4 class="heading heading-sm text-lt">Carolyn Lupi</h4>
            <p class="main-footer__short-desc">
              This is a showcase of Carolyn Lupi's work so far.
            </p>
          </div>
        </div>
      </div>
    </footer>

    <script src="./index.js"></script>
    <!--Bootstrap Javascript Add In-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"></script>
  </body>

</html>