<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Carolyn's Portfolio</title>
  <link rel="stylesheet" href="../assets/css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap"
    rel="stylesheet" />
</head>

<!--Navigation Section-->
<body class="default">
  <header>
    <div class="topnav">
      <a href="../index.html" target="_blank">
        <li>Home Page</li>
      </a>
    </div>
  </header>

  <!--Header of Site-->
  <div class="heading-sec__main">Tech Blog</div>
  <!--Introduction Section-->
  <body>
    <section class="projectHtmlSection">
      <div class="main-container">
        <h2 class="heading heading-sec heading-sec__mb-med">
          <span class="projectHtmlSub">
            This full-stack application was developed so that users could come create and interact with content
            regarding the tech industry. The application gives users a space to store created content via the dashboard
            page, comment on other users posts, as well as edit and delete their own posts. When arriving to the
            homepage, users will be able to see all current posts without needing an account, however will be directed
            to login or create an account when trying to access the dashboard, or in trying to create or view specific
            posts. User authentication via session storage and cookies is utilized in the application and offers a
            secure profile through specific routing and page protection. Users passwords are hashed through the bcrypt
            dependency before being entered into the MySQL database giving additional safeguards to users.

            This project implements a model-view-control (MVC) specific set up, uses the object-relational-mapping (ORM)
            dependency Sequelize to connect the front-end code (UI) to the database, and Express routing. This project
            also utilizes handlebars templating engine which allowed data to be passed from the database and appended to
            the front-end in a DRY and simplified way.

            Challenges faced when creating this application were the use of the handlebars template engine. This was my
            first time using one, and it took quite a bit of tinkering to find the best way to give certain partials
            access to the data I wanted to pass to the page. I also still struggle a bit with routing, and middleware in
            regards to the syntax used. This was the first full-stack web application I have built, so there was
            definitely a few times where I felt overwhelmed with the amount of files I was needing to comb through,
            however I eventually did get the feel for how all the different parts connected resulting in the completed
            application!
          </span>
        </h2>

        <!--Screenshots-->
        <div class="image-container">
          <img src="../assets/images/TechBlog1.png" alt="Tech Blog Screenshot" class="projectPageImg" loading="lazy" />
        </div>
        <div class="image-container">
          <img src="../assets/images/TechBlog2.png" alt="Tech Blog Screenshot" class="projectPageImg" loading="lazy" />
        </div>
        <div class="image-container">
          <img src="../assets/images/TechBlog3.png" alt="Tech Blog Screenshot" class="projectPageImg" loading="lazy" />
        </div>
        <div class="image-container">
          <img src="../assets/images/TechBlog4.png" alt="Tech Blog Screenshot" class="projectPageImg" loading="lazy" />
        </div>
        <div class="image-container">
          <img src="../assets/images/TechBlog5.png" alt="Tech Blog Screenshot" class="projectPageImg" loading="lazy" />
        </div>
    </section>

    <!--Footer Section-->
    <footer class="main-footer">
      <div class="main-container">
        <div class="main-footer__upper">
          <div class="main-footer__row main-footer__row-1">
            <h2 class="heading heading-sm main-footer__heading-sm">
              <span>Contacts</span>
            </h2>
            <div class="main-footer__social-cont">
              <a target="_blank" rel="noreferrer" href="#">
                <img class="main-footer__icon" src="../assets/icons/linkedin-ico.png" alt="icon" />
              </a>
              <a target="_blank" rel="noreferrer" href="#">
                <img class="main-footer__icon" src="../assets/icons/github-ico.png" alt="icon" />
              </a>
              </a>
              </a>
            </div>
          </div>
          <div class="main-footer__row main-footer__row-2">
            <h4 class="heading heading-sm text-lt">Carolyn Lupi</h4>
            <p class="main-footer__short-desc">
              This is a showcase of Carolyn Lupi's work so far.
            </p>
          </div>
        </div>
      </div>
    </footer>

    <script src="./index.js"></script>
    <!--Bootstrap Javascript Add In-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"></script>
  </body>

</html>